# Virtual environments
venv/
.venv/
more_training/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Training output folders
runs/
outputs/
testtt/
Train/
dataset/
test/
.DS_Store/  

# Model weights

