# Virtual environments
venv/
.venv/
more_training/

# # macOS system files
# .DS_Store

# Python bytecode cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Training output folders and datasets
runs/
outputs/
testtt/
Train/
dataset/
test/

# Model weights
model.pt
